.about {
  &__header {
    background-image: url("/about.jpg");
    background-position-x: 85%;
    background-position-y: 80%;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--s3);
  }
}

.about__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__content {
  max-width: var(--max-content-width);
  background-color: var(--color-transparent-white);
  padding: var(--s3);
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}
