.filter {
  background-color: var(--color-cream);
  position: sticky;
  top: 0;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__closed {
  border: none;
  background-color: var(--color-cream);
  color: var(--color-brown);
  padding: var(--s1) var(--s0);
  cursor: pointer;
  font-weight: 500;
}

.filter__opts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__types {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
  max-width: 30rem;
  justify-content: center;
}
.filter__contributors {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
  max-width: 35rem;
  justify-content: center;
}

.filter__active {
  display: flex;
  align-items: center;
}
