.header {
  background-image: url("/cover.jpg");
  background-position-x: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--s5);

  &__text {
    box-sizing: content-box;
    max-width: 65ch;
    background-color: var(--color-transparent-white);
    padding: var(--s2);
  }

  &__title {
  }

  &__subtitle {
  }
}
