.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__quote {
    max-width: var(--s10);
    background-color: var(--color-transparent-white);
  }

  &__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s1);
    background-image: url("/timeline_dash.svg");
    background-repeat: repeat-y;
    background-position-x: center;
  }

  &__decade {
    display: inline-block;
  }
}

.timeline-navigation {
  margin: var(--s2);
  position: fixed;
  top: 0;
  right: 0;

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.timeline-image {
  cursor: pointer;
  position: relative;
  
  &__magnifying-glass{
      bottom: var(--s2);
      height: var(--s3);
      position: absolute;
      right: var(--s3);
      width: var(--s3);
      z-index: 100;
  } 
  &__image{
      position: inherit;
      mask-image: url(/cloud-clip.svg);
      -webkit-mask-image: url(/cloud-clip.svg);
      mask-size: contain;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-position: center;
      width: 100%;
      height: 100%;
  }
  //  constrains cloud mask proportions
  &__container{
      height: #{'min(var(--timeline-image-height), 58vw)'};
      width: #{'min(var(--timeline-image-width), 100vw)'};
      overflow: hidden;
      padding: var(--s0);
  }
}
