.timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__entries {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 100%;

    @media screen and (max-width: $timeline-column) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__entry {
    flex: 1;
    flex-basis: 50%;
    margin: var(--s0) 0;
    max-width: var(--timeline-image-width);
    width: 100%;
    @media screen and (max-width: $timeline-column) {
      flex-basis: 100%;
      width: calc(100% - (var(--s0) * 2));
    }
    &--outlined {
      background-color: var(--color-transparent-white);
      border: 1px var(--type-color, var(--color-orange)) solid;
      flex: 1;
      flex-basis: 50%;
      margin: 0;
      max-width: var(--timeline-image-width);
      padding: var(--s1);
      width: 100%;
      @media screen and (max-width: $timeline-column) {
        flex-basis: 100%;
        margin: auto;
        width: calc(100% - (var(--s0) * 2));
      }
    }
  }

  &__tower {
    background-image: linear-gradient(
        var(--color-tower-white),
        var(--color-tower-white)
      ),
      url("/tower-middle.png");
    background-repeat: repeat-y;
    background-position-x: center;
    background-size: 60%;
    width: 100%;
    &--top {
      background-image: linear-gradient(
          var(--color-tower-white),
          var(--color-tower-white)
        ),
        url("/tower-top.png"), url("/tower-middle.png");
      background-repeat: repeat-y, no-repeat, repeat-y;
      background-position-x: center;
      background-size: 60%;
      width: 100%;
    }
    &--bottom {
      background-image: linear-gradient(
          var(--color-tower-white),
          var(--color-tower-white)
        ),
        url("/tower-bottom.png"), url("/tower-middle.png");
      background-repeat: repeat-y, no-repeat, repeat-y;
      background-position: center, center bottom, center;
      background-size: 60%;
      width: 100%;
    }
    &--none {
      width: 100%;
    }
  }

  &__line {
    background-image: url("/timeline_dash.svg");
    background-position-x: center;
    background-repeat: repeat-y;
    &:first-child {
      padding-top: var(--s5);
    }
  }

  &__decade {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--s1);
    margin: auto;
    max-width: var(
      --timeline-max-content-width
    ); // [fFf] should probably be a variable, possibly determined by media query
    width: 100%;
    &__icon {
      width: var(--timeline-circle);
      height: var(--timeline-circle);
      margin: var(--s0);
    }
  }

  &__quote {
    width: 100%;
    &--outlined {
      background-color: var(--color-transparent-white);
      border: 1px var(--type-color, var(--color-orange)) solid;
      margin: 0;
      padding: var(--s1);
      width: 100%;
      @media screen and (max-width: $timeline-column) {
        margin: auto;
      }
    }
  }

  &__quote-source {
    font-weight: 700;
    line-height: 2;
  }

  &__type {
    background-color: var(--type-color);
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-top: var(--s1);
    padding: 0.1em 0.3em;
    text-transform: capitalize;
  }

  &__share-link-container {
    text-align: right;
  }

  &__share-link {
    font-weight: bold;
    color: var(--color-brown);
    background-image: url("/share_icon.png");
    background-size: 1em;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.2em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.timeline-navigation {
  background-color: #53313136;
  border-radius: calc(var(--navigation-circle) / 2);
  line-height: 1;
  margin: var(--s2);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;

  &__btn {
    border-radius: 100%;
    border: none;
    padding: 0;
    &__closed--hidden {
      display: none;
    }
    &__open--hidden {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &--hidden {
      display: none;
    }
  }

  &__list-child {
    &:last-child {
      height: var(--navigation-circle);
    }
  }

  &__link {
    display: inline-block;
  }

  &__icon {
    width: var(--navigation-circle);
    height: var(--navigation-circle);
  }
}

.timeline-image {
  cursor: pointer;
  position: relative;

  &__magnifying-glass {
    bottom: var(--s2);
    height: var(--s3);
    position: absolute;
    right: var(--s3);
    width: var(--s3);
    z-index: 100;
  }
  &__image {
    bottom: 0px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0px;

    aspect-ratio: 4/3;
    object-fit: cover;

    height: auto;
    width: 100%;

    // cloud shape
    mask-image: url(/cloud-clip.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url(/cloud-clip.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }
  //  constrains cloud mask proportions
  &__container {
    height: #{"min(var(--timeline-image-height), 52.65vw)"};
    overflow: hidden;
    width: #{"min(min(var(--timeline-image-width), 90vw), 100%)"};
  }
  &__image-only {
    margin: 0;
  }
}

.flash_message {
  position: sticky;
  bottom: 0;
  padding: 2em;
  background-color: #d7a341;
  text-align: center;
}
