.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--s1);

  &__quote {
    max-width: var(--s10);
    background-color: var(--color-transparent-white);
  }

  &__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/timeline_dash.svg");
    background-repeat: repeat-y;
    background-position-x: center;
  }

  &__decade {
    display: inline-block;
  }
}

.timeline-navigation {
  margin: var(--s2);
  position: fixed;
  top: 0;
  right: 0;

  &__list {
    display: flex;
    flex-direction: column;
  }
}
