@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab"),
    url(/fonts/RobotoSlab-VariableFont_wght.ttf) format("truetype");
}

html {
  color: var(--color-brown);
  font-family: "Roboto Slab", Rockwell, "Rockwell Nova", "DejaVu Serif",
    "Sitka Small", serif;
  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-brown);
}
