@font-face {
    font-family: Clarendon;
    src: url(/clarendon.ttf) format(truetype);
}

* {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}


