.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.screen-reader-only--focus:focus {
  background-color: var(--color-brown);
  color: var(--color-white);
  font-weight: 600;
  height: max-content;
  left: 50%;
  padding: var(--s-1);
  position: absolute;
  top: auto;
  width: max-content;
}
