:root {
  // size scale
  --ratio: 1.414;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --s9: calc(var(--s8) * var(--ratio));
  --s10: calc(var(--s9) * var(--ratio));

  // colors
  --color-transparent-white: #ffffffe4;
  --color-brown: #533131;
  --color-orange: #c65604;
  --color-white: #ffffff;

  // dimensions
  --timeline-image-width: 482px;
  --timeline-image-height: 282px;
  --timeline-max-content-width: 1086px; //also timeline-column below
  --max-content-width: 986px;

  --navigation-circle: 50px;
  --timeline-circle: 120px;
}

// break points
$mobile: 600px;
$footer: 965px;
$timeline-column: 1086px; //also timeline-max-content-width above
$point-nav-overlaps-content: 1265px;

// timeline type colors
[data-type="global_news"] {
  --type-color: #3442ac;
}
[data-type="oldham_history"] {
  --type-color: #612c7e;
}
[data-type="oldham_news"] {
  --type-color: #d3ad31;
}
[data-type="surrounding_estate"] {
  --type-color: #c65604;
}
[data-type="towers"] {
  --type-color: #4a722c;
}
[data-type="uk_news"] {
  --type-color: #e54e82;
}
