<div class="filter">
	<button class="filter__closed" onclick="openFilter(event)">Click here to view content filters, or scroll to explore the timeline in full</button>
	<div class="filter__opts">
		<h3>Filter by type of content</h3>
		<ul class="filter__types" role="list">
			<li><button class="filter__type-button filter__type-button--towers" onclick="filter('data-type', 'towers')" >the towers</button></li>
			<li><button class="filter__type-button filter__type-button--surrounding_estate" onclick="filter('data-type', 'surrounding_estate')" >surrounding estate</button></li>
			<li><button class="filter__type-button filter__type-button--oldham_history" onclick="filter('data-type', 'oldham_history')" >oldham history</button></li>
			<li><button class="filter__type-button filter__type-button--global_news" onclick="filter('data-type', 'global_news')" >global news</button></li>
			<li><button class="filter__type-button filter__type-button--UK_news" onclick="filter('data-type', 'UK_news')" >UK news</button></li>
			<li><button class="filter__type-button filter__type-button--oldham_news" onclick="filter('data-type', 'oldham_news')" >oldham news</button></li>
		</ul>
		<h3>Filter by key contributor</h3>
		<ul class="filter__contributors" role="list">
			{{ range $.Site.Data.contributors.names }}
				{{ $name := .}}
				{{$count := len ( where ($.Site.GetPage (path.Join "/timeline")).Pages "Params.source" $name ) }}
				<li><button class="filter__contributor-button" onclick="filter('data-contributor', '{{$name}}')" >{{ $name }}  <span class="filter__story-count">({{$count }} stories)</span></button></li>
			{{ end }}
		</ul>
		<button class="filter__close filter__close--opts" onclick="closeFilter(event)">
			<img aria-hidden="true" src="/artwork/close.svg" alt="">
			<span class="screen-reader-only">close</span>
		</button>
	</div>
	<div class="filter__active">
		<p class="filter__active__text filter__active__text--left">Filtering stories</p>
		<button class="filter__close" onclick="closeFilter(event)">
			<img aria-hidden="true" src="/artwork/close.svg" alt="">
			<span class="screen-reader-only">close</span>
		</button>
		<p class="filter__active__text"> Click to reset</p>
	</div>
</div>
