<div class="filter">
	<button class="filter__closed">Click here to view content filters, or scroll to explore the timeline in full</button>
	<div class="filter__opts">
		<h3>Filter by type of content</h3>
		<ul role="list">
			<li><button>the towers</button></li>
			<li><button>surrounding area</button></li>
			<li><button>oldham history</button></li>
			<li><button>global news</button></li>
			<li><button>UK news</button></li>
			<li><button>UK news</button></li>
		</ul>
		<h3>Filter by key contributor</h3>
		<ul role="list">
			<li><button>Sheila (22 stories)</button></li>
			<li><button>Sheila (22 stories)</button></li>
			<li><button>Sheila (22 stories)</button></li>
			<li><button>Sheila (22 stories)</button></li>
			<li><button>Sheila (22 stories)</button></li>
			<li><button>Sheila (22 stories)</button></li>
		</ul>
		<button>close</button>
	</div>
	<div class="filter__active">
		<p>Filtering by: Sheila (22 stories) </p>
		<button>close</button>
		<p> Click to return to full timeline</p>
	</div>
</div>
