<footer class="footer" >
	<div class="footer__content">
		<div class="footer__about" >
			<p class="footer__text">This project was made possible by the National Lottery Heritage Fund, with thanks to National Lottery Players. Find out more about the project here</p>
			<p class="footer__text">Find out more about the project <a class="footer__link" href="/about">here</a></p>
		</div>
		<a class="footer__logo" href="https://www.heritagefund.org.uk/" >
			<img class="footer__logo__img" src="/the_towers_footer_Logo.png" alt="project logo showing funding from the lottery heritage fund" >
		</a>
		<div class="footer__partners" >
			<p class="footer__text">
				Created in partnership with
				<br>
				<a class="footer__link" href="https://www.fcho.co.uk/">First Choice Homes Oldham</a> 
				<br>
				<a class="footer__link" href="https://www.ol1oldham.com/">OL1</a>
				<br>
				<a class="footer__link" href="https://www.coliseum.org.uk/">The Oldham Coliseum</a>
			</p>
			<p class="footer__text">
				Developed by
				<br>
				<a class="footer__link" href="https://gfsc.studio">Geeks for Social Change</a>
			 </p>
		</div>
	</div>
</footer>
