{{ $decades := $.Site.Data.timeline.decades }}
{{ $quotes := $.Site.GetPage (path.Join "/timeline") }}

<div class="timeline">
  {{ range $decades }}
    {{ if (where $quotes.Pages ".Params.Decade" "==" .) }}
        <h2>{{ . }}</h2>
        {{ range $i, $val := (where ($quotes.Pages.ByParam "Year") ".Params.Decade" "==" .)}}
          {{ $quote := .}}
              <div class="timeline__quote">
                <p>{{ $quote.Param "Year" }}</p>
                <div>{{ .Content }}</div>
              </div>
        {{ end }}
    {{ end }}
  {{ end }}
</div>