{{ $decades := $.Site.Data.timeline.decades }}
{{ $contributors := $.Site.Data.contributors.names }}
{{ $imageWidth := printf "%s%s" (strings.TrimSuffix "px" (string $.Site.Data.timeline.imageSize.width)) "x" }}
{{ $quotes := $.Site.GetPage (path.Join "/timeline") }}

<div class="timeline ">
  {{ range $decades }}
    {{ $decade := (index . 0) }}
    {{ $decadeImage := index . 2 }}
    {{ if (where $quotes.Pages ".Params.Decade" "==" $decade) }}
			{{$towerClass := "timeline__tower--none"}}
			{{ if eq (int $decade ) 1970}}
				{{$towerClass = "timeline__tower--top"}}
			{{ end }}
			{{ if gt (int $decade ) 1970}}
				{{$towerClass = "timeline__tower"}}
			{{ end }}
			{{ if eq (int $decade ) 2020}}
				{{$towerClass = "timeline__tower--bottom"}}
			{{ end }}
			<div class="{{$towerClass}}">
				<div class="timeline__line">
					<div class="timeline__decade">
              <a id={{ $decade }} title={{ $decade }}>
                <span class="screen-reader-only">{{ $decade }}</span>
                <img aria-hidden="true" class="timeline__decade__icon" src="/artwork/{{ $decadeImage }}">
              </a>
              <div class="timeline__entries">
                {{ range $i, $val := (where ($quotes.Pages.ByParam "Year") ".Params.Decade" "==" $decade)}}
                  {{ $quote := .}}
                  {{ $withoutImage := eq (len (string (.Resources.GetMatch $quote.Params.Image_path))) 0}}
                  {{ $withQuote := gt (len .Content) 0}}
                  {{ $slug := $quote.Params.title | urlize }}
                  <div 
                  {{ with $quote.Params.category}} 
                    data-type="{{.}}" 
                  {{ end }}  
                  class="timeline__entry {{cond (and (ne $withoutImage true) $withQuote) "timeline__entry--outlined" ""}}"
                  {{ if in $contributors $quote.Params.source}}
                    data-contributor="{{$quote.Params.source}}"
                  {{ end }}
                  id="{{$slug}}"
                  >
                    {{ with .Resources.GetMatch $quote.Params.Image_path }}
                      {{ $originalImagePath := . }}
                      {{ with .Resize $imageWidth }}
                        <div class="timeline-image timeline-image__container {{cond (eq $withQuote false) "timeline-image__image-only" ""}}">
                          {{ partial "magnifying-glass.svg" }}
                          <img 
                            class="timeline-image__image" 
                            src={{ .RelPermalink }} 
                            alt={{ $quote.Params.image_alt }} 
                            title={{ $originalImagePath }}
														data-caption={{$quote.Params.image_caption}}
                          ></img>
                        </div>
                      {{ end }}
                    {{ end }}
                    {{ if .Content }}
                      <div class="timeline__quote {{cond $withoutImage "timeline__quote--outlined" ""}}">
                        {{ .Content }}
                        {{ with $quote.Params.source}}
                          {{ $source := . }}
                          {{ if $quote.Params.link }}
                            <p class="timeline__quote-source">
                              <a href="{{ $quote.Params.link }}">
                                {{ $source }}
                              </a>
                            </p>
                          {{ else }}
                            <p class="timeline__quote-source">{{ $source }}</p>
                          {{ end }}
                        {{ end }}
                        {{ with $quote.Params.category}}
                          <div class="timeline__type">
                            {{ replace . "_" " " }}
                          </div>
                        {{ end }}
                      </div>
                    {{ end }}
                    <p class="timeline__share-link-container">
                      <a  onclick="return shareLink.handleClick(this)" class="timeline__share-link" href="#{{$slug}}">Share</a>
                    </p>  
                  </div>
                {{ end }}
              </div>
					</div>
				</div>
			</div>
    {{ end }}
  {{ end }}
  <div class="lightbox"></div>
</div>

<div class="flash_message">This is the flash</div>
