{{ $decades := $.Site.Data.timeline.decades }}
{{ $imageWidth := printf "%s%s" (strings.TrimSuffix "px" (string $.Site.Data.timeline.imageSize.width)) "x" }}
{{ $quotes := $.Site.GetPage (path.Join "/timeline") }}

<div class="timeline ">
  {{ range $decades }}
    {{ if (where $quotes.Pages ".Params.Decade" "==" .) }}
      {{ $decade := .}}
			<div class="timeline__line">
        <a id={{ string $decade }}><h2 class="timeline__decade">{{ $decade }}</h2></a>
        {{ range $i, $val := (where ($quotes.Pages.ByParam "Year") ".Params.Decade" "==" $decade)}}
          {{ $quote := .}}
          <div class="timeline__quote content">
            <p>{{ $quote.Params.year }}</p>
            {{ with .Resources.GetMatch $quote.Params.Image_path }}
              {{ $originalImagePath := . }}
              {{ with .Resize $imageWidth }}
                <div class="timeline-image timeline-image__container">
                  {{ partial "magnifying-glass.svg" }}
                  <img 
                    class="timeline-image__image" 
                    src={{ .RelPermalink }} 
                    alt={{ $quote.Params.image_alt }} 
                    title={{ $originalImagePath }}
                  ></img>
                </div>
              {{ end }}
            {{ end }}
            <div>{{ .Content }}</div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
  <div class="lightbox"></div>
</div>
