{{ $decades := $.Site.Data.timeline.decades }}
{{ $quotes := $.Site.GetPage (path.Join "/timeline") }}

<nav class="timeline-navigation">
  <ul class="timeline-navigation__list" role="list">
    {{ range $decades }}
    {{ $decade := index . 0 }}
    {{ $asset := index . 1 }}
      {{ if (where $quotes.Pages ".Params.Decade" "==" $decade) }}
        {{ $href := (printf "%s%s" "#" (string $decade))}}
          <li>
            <a class="timeline-navigation__link" href={{ $href }} title={{ $decade }}>
	      <img class="timeline-navigation__icon" src="/artwork/{{ $asset }}">
	    </a>
          </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
